Repository codestates-seb/seb40_main_030, pull requests merged in 2022-12, with the labels that each got.

#133 [BE] 오류수정
  backend/src/main/java/backend/domain/admin/dto/AdminDto.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/payment/dto/PayBillsResDto.java
  backend/src/main/java/backend/domain/payment/dto/PayResDto.java
  backend/src/main/java/backend/domain/payment/entity/Payment.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationPatchReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationResDto.java
  backend/src/main/java/backend/domain/station/dto/StationSearchResDto.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/java/backend/domain/station/entity/StationLocation.java
  backend/src/main/java/backend/domain/station/service/StationService.java
Labels: Back, 리팩토링, 수정, 에러핸들링

#134 [BE] kakaopay TID 로직 추가
  backend/src/main/java/backend/domain/admin/dto/AdminDto.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
Labels: Back, 수정, 에러핸들링

#135 [BE] 배터리 반납 API 구현, 반납 연장 로직에 반납시간 입력 코드 활성화
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
Labels: Back, 기능추가, 수정

#137 [BE] KakaoPay 결제취소, payMethod 저장 구현
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayCancelVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
Labels: Back, 기능추가, 수정

#139 [BE] feat : oauth 기능추가
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
  backend/src/main/java/backend/global/security/oauth/KakaoAPI.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
  backend/src/main/java/backend/global/security/oauth/KakaoOauthService.java
  backend/src/main/java/backend/global/security/oauth/KakaoProfile.java
  backend/src/main/java/backend/global/security/oauth/KakaoToken.java
  backend/src/main/resources/static/img/kakao_login_medium_narrow.png
  backend/src/main/resources/templates/index.html
Labels: Back, 기능추가

#144 [BE] 더미 API (결제 상태 강제 변환 + 더미 reservation생성)
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/security/handler/CustomAuthenticationSuccesshandler.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 기능추가, 수정, 에러핸들링

#145 [FE] 대여현황 페이지 모달 1차 구성
  frontend/src/App.jsx
  frontend/src/apis/payments.js
  frontend/src/assets/index.js
  frontend/src/components/@commons/CardModal/Cards.jsx
  frontend/src/components/@commons/CardModal/Cards.style.js
  frontend/src/components/@commons/PageWrapper/PageWrapper.jsx
  frontend/src/components/@commons/PageWrapper/PageWrapper.style.js
  frontend/src/components/@commons/SnackBar/SnackBar.jsx
  frontend/src/components/@commons/SnackBar/SnackBar.style.js
  frontend/src/components/@layout/BottomNav/BottomNav.jsx
  frontend/src/components/@layout/BottomNav/BottomNav.style.js
  frontend/src/components/Home/KakaoMap/KakaoMap.jsx
  frontend/src/components/Orders/Features/Content/BookingList.jsx
  frontend/src/components/Orders/Features/Content/Content.style.js
  frontend/src/components/Orders/Features/Content/DateBox.jsx
  frontend/src/components/Orders/Features/Content/HistoryList.jsx
  frontend/src/components/Orders/Features/Content/InUseList.jsx
  frontend/src/components/Orders/Features/Content/Item.jsx
  frontend/src/components/Orders/Features/Content/Modal.jsx
  frontend/src/components/Orders/Features/Extends/Extends.jsx
  frontend/src/components/Orders/Features/Extends/Extends.style.js
  frontend/src/components/Orders/Features/Modal/Modal.style.js
  frontend/src/components/Orders/Features/Modal/ModalHeader.jsx
  frontend/src/components/Rental/RentalStatus.jsx
  frontend/src/components/Search/SearchBar/SearchBar.style.js
  frontend/src/constants/routes.js
  frontend/src/hooks/MyPage/useMyPageBottom.jsx
  frontend/src/hooks/MyPage/useMyPageTop.jsx
  frontend/src/hooks/Orders/useGetAvailableExtendPeriod.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/reservation/useCheckDateFixed.jsx
  frontend/src/hooks/reservation/useGetBatteryBySetTIme.jsx
  frontend/src/mocks/data/stations.js
  frontend/src/mocks/handlers.js
  frontend/src/pages/Orders/index.jsx
  frontend/src/pages/Search/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/styles/size.js
Labels: Front, 기능추가

#152 [BE] gradle build를 위한 수정
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
  backend/src/main/java/backend/global/security/oauth/KakaoOauthService.java
  backend/src/main/resources/templates/index.html
  backend/src/test/java/backend/domain/memberTest/MemberTest.java
  backend/src/test/java/backend/domain/paymentTest/PaymentTest.java
Labels: Back, 기능추가, 수정

#153 [BE] 빌드 설정 추가
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
  backend/src/main/java/backend/global/security/oauth/KakaoOauthService.java
  backend/src/main/resources/templates/index.html
  backend/src/test/java/backend/domain/memberTest/MemberTest.java
  backend/src/test/java/backend/domain/paymentTest/PaymentTest.java
Labels: Back, 수정

#161 [BE] AWS EC2 배포용 수정
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/src/main/java/backend/domain/admin/service/AdminService.java
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/java/backend/global/security/jwt/JwtTokenizer.java
  backend/src/main/resources/application-server.yml
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
  backend/src/test/resources/static.db/data.sql
Labels: Back, 배포, 수정, 에러핸들링

#163 [BE] 관라자 중복 가입 요청시 발생하는 SQL에러 예외처리, 카카오 결제 버퍼 생성, cors Origin 수정
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/exception/advice/ExceptionAdvice.java
  backend/src/main/java/backend/global/exception/dto/ErrorResponse.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/db/data.sql
Labels: Back, 수정, 에러핸들링

#164 [BE] conflict 수정 및 카카오 결제 버퍼 생성
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/exception/advice/ExceptionAdvice.java
  backend/src/main/java/backend/global/exception/dto/ErrorResponse.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/db/data.sql
Labels: Back, 배포, 수정, 에러핸들링

#166 [BE] conflict 해결
  .github/workflows/gradle.yml
  backend/src/main/java/backend/domain/admin/controller/AdminController.java
  backend/src/main/java/backend/domain/admin/mapper/repository/AdminRepository.java
  backend/src/main/java/backend/domain/admin/service/AdminService.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/java/backend/global/security/userDetails/MemberDetailsService.java
  backend/src/main/resources/application-server.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/backend/domain/memberTest/MemberTest.java
  backend/src/test/java/backend/domain/paymentTest/PaymentTest.java
  backend/src/test/resources/application.yml
Labels: Back, 배포, 수정, 에러핸들링

#167 [BE] feat : oauth2 회원가입 및 로그인
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
  backend/src/main/java/backend/global/security/oauth/KakaoOauthService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/templates/index.html
Labels: Back, 기능추가, 수정

#169 [BE] BE 브랜치 Conflict 수정 및 payment API 일부 수정, yml파일 및 data.sql 코드 추가
  README.md
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/resources/static/db/data.sql
  backend/src/test/resources/application.yml
Labels: Back, 리팩토링, 수정, 에러핸들링

#172 [BE] BE to dev Conflict solute
  README.md
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/resources/application.yml
Labels: Back, 리팩토링, 배포, 수정, 에러핸들링, Dev

#173 [BE] BE to dev conflict 해결
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/db/data.sql
  backend/src/test/java/backend/domain/memberTest/MemberTest.java
  backend/src/test/java/backend/domain/paymentTest/PaymentTest.java
Labels: Back, 수정, 에러핸들링

#178 [BE] Gradle wapper
  README.md
  backend/gradle/wrapper/gradle-wrapper.jar
Labels: Back, 배포

#179 [BE] gradle wrapper 추가
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
Labels: Back, 배포, 수정

#190 [BE] 카카오 페이 로직 임시 수정
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
Labels: Back, 수정

#194 [FE] 카카오 맵 세부 설정 추가 및 예약 설정 세분화
  frontend/index.html
  frontend/src/apis/api.js
  frontend/src/apis/payments.js
  frontend/src/apis/stations.js
  frontend/src/assets/battery-empty.png
  frontend/src/assets/battery-empty2.png
  frontend/src/assets/empty-message.png
  frontend/src/assets/empty-message2.png
  frontend/src/assets/index.js
  frontend/src/assets/pinning_img.png
  frontend/src/assets/userMapMarker.png
  frontend/src/assets/userMapMarker1.png
  frontend/src/components/@commons/Empty/BatteryEmpty.jsx
  frontend/src/components/@commons/Empty/Empty.style.js
  frontend/src/components/@commons/Loading/BatteryCharging.jsx
  frontend/src/components/@commons/PageWrapper/PageWrapper.jsx
  frontend/src/components/@commons/SplashScreen/SplashScreen.jsx
  frontend/src/components/@commons/SplashScreen/SplashScreen.style.js
  frontend/src/components/@commons/index.js
  frontend/src/components/@helper/utils/convertMiinTo10Min.js
  frontend/src/components/@layout/BottomNav/BottomNav.jsx
  frontend/src/components/Home/KakaoMap/Features/MapIndicator.jsx
  frontend/src/components/Home/KakaoMap/KakaoMap.jsx
  frontend/src/components/Home/Reservation/Counter/Counter.jsx
  frontend/src/components/Home/Reservation/TimeTable/TimeTable.jsx
  frontend/src/components/Login/GenLogin/GenLogin.jsx
  frontend/src/components/Login/utils.js
  frontend/src/components/Orders/Features/Content/BookingList.jsx
  frontend/src/components/Orders/Features/Content/HistoryList.jsx
  frontend/src/components/Orders/Features/Content/InUseList.jsx
  frontend/src/components/Rental/RentalStatus.jsx
  frontend/src/components/Search/SearchPage.jsx
  frontend/src/components/SignUp/SignUpComp/InputInfo.jsx
  frontend/src/components/SignUp/SignUpComp/PostCode.jsx
  frontend/src/hooks/Login/useLogin.jsx
  frontend/src/hooks/Orders/useGetAvailableExtendPeriod.jsx
  frontend/src/hooks/Orders/useGetBookingList.jsx
  frontend/src/hooks/Orders/useGetHistoryList.jsx
  frontend/src/hooks/Orders/useGetInUseList.jsx
  frontend/src/hooks/map/useCurrentAddress.jsx
  frontend/src/hooks/map/useSearchMap.jsx
  frontend/src/hooks/reservation/useCounter.jsx
  frontend/src/hooks/stations/useGetAllStations.jsx
  frontend/src/hooks/stations/useGetFilteredStation.jsx
  frontend/src/hooks/stations/useGetFilteredStationsBySetTime.jsx
  frontend/src/pages/Auth/Login/index.jsx
  frontend/src/pages/NotFound/index.jsx
  frontend/src/pages/Search/index.jsx
Labels: Front, 기능추가

#195 [BE] Oauth API 수정완료, Kakao결제 API 수정, JwtExtractUtils에 Oauth용 로직 추가, Payment API 수정
  backend/appspec.yml
  backend/scripts/deploy.sh
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayApprovalVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayReadyVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/payment/dto/PayResDto.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
  backend/src/main/java/backend/global/security/oauth/KakaoOauthService.java
  backend/src/main/java/backend/global/security/utils/JwtExtractUtils.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/db/data.sql
  backend/src/main/resources/templates/index.html
Labels: Back, 기능추가, 수정, 에러핸들링

#197 [BE] KakaoPay 리다이렉트 경로 수정
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
Labels: Back, 수정

#201 [BE] Kakao API 들 수정
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayCancelVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/security/oauth/KakaoController.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 수정, 에러핸들링

#204 [FE] 데모데이 FE 업데이트
  frontend/src/App.jsx
  frontend/src/apis/pay.js
  frontend/src/assets/index.js
  frontend/src/assets/kakao_decline.jpeg
  frontend/src/components/@commons/CardModal/Cards.style.js
  frontend/src/components/@commons/Stepper/Stepper.jsx
  frontend/src/components/@commons/Stepper/StepperItem.jsx
  frontend/src/components/Business/InputModal/InputModal.jsx
  frontend/src/components/Business/InputModal/InputModal.style.js
  frontend/src/components/Home/Reservation/BookingTypeBox/BookingTypeBox.jsx
  frontend/src/components/Home/Reservation/Calendar/DateStatus.jsx
  frontend/src/components/Home/Reservation/DateSelection/SingleDateSelection.jsx
  frontend/src/components/Login/GenLogin/GenLogin.jsx
  frontend/src/components/Login/GenLogout/GenLogout.jsx
  frontend/src/components/MyProfile/UserInfo.jsx
  frontend/src/components/Orders/Features/Content/Content.style.js
  frontend/src/components/Payments/Product/PayDetail.jsx
  frontend/src/components/Payments/paystate/Completed.jsx
  frontend/src/components/SignUp/SignUpComp/InputInfo.jsx
  frontend/src/constants/routes.js
  frontend/src/hooks/Orders/useGetInUseList.jsx
  frontend/src/hooks/reservation/useCounter.jsx
  frontend/src/hooks/reservation/useGetBatteryBySetTIme.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/recoil/pagesState.js
Labels: Front

#207 [BE] 데모데이용 빌드 수정본 적용
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 수정

#209 [BE] main to deb conflict 해결
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/resources/application.yml
Labels: Back, 수정

#210 [BE] dev to main conflict 해결
  .github/workflows/gradle.yml
Labels: Back, 수정

#211 [BE] dev to main conflict 해결
  backend/src/main/resources/static/db/data.sql
Labels: Back, 수정

#213 [BE] dev to main conflict해결을 위한 BE 작업
  .github/workflows/gradle.yml
Labels: 수정
