Repository codestates-seb/seb40_main_030, pull requests merged in 2022-11, with the labels that each got.

#2 Fix: PageInfoDto 수정, index.adoc 헤더 설정, local.yml제거
  .github/ISSUE_TEMPLATE/기본-toast-template.md
  backend/src/main/docs/index.adoc
  backend/src/main/java/backend/global/dto/PageInfoDto.java
  backend/src/main/resources/application-local.yml
Labels: Back, 수정

#5 Fix: gitignore에 yml파일 추가
  backend/.gitignore
Labels: Back, 수정

#11 [BE] application.yml 수정
  backend/.gitignore
  backend/src/main/resources/application.yml
Labels: Back, 수정

#16 [Be] Order 기본 CRUD API
  README.md
  backend/.gitignore
  backend/src/main/java/backend/domain/order/controller/OrderController.java
  backend/src/main/java/backend/domain/order/dto/OrderPatchReqDto.java
  backend/src/main/java/backend/domain/order/dto/OrderPostReqDto.java
  backend/src/main/java/backend/domain/order/dto/OrderResDto.java
  backend/src/main/java/backend/domain/order/entity/Order.java
  backend/src/main/java/backend/domain/order/entity/StatusState.java
  backend/src/main/java/backend/domain/order/repository/OrderRepository.java
  backend/src/main/java/backend/domain/order/service/OrderService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
Labels: Back, 기능추가

#22 [BE] Battery 기본 CRUD API
  backend/build.gradle
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/entity/Battery.java
  backend/src/main/java/backend/domain/battery/mapper/BatteryMapper.java
  backend/src/main/java/backend/domain/battery/repository/BatteryRepository.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
Labels: Back, 기능추가

#24 [Be] Order 기본 API Test코드 작성
  backend/src/main/java/backend/domain/order/controller/OrderController.java
  backend/src/main/java/backend/domain/order/dto/OrderPatchReqDto.java
  backend/src/main/java/backend/domain/order/dto/OrderPostReqDto.java
  backend/src/main/java/backend/domain/order/dto/OrderResDto.java
  backend/src/main/java/backend/domain/order/entity/Order.java
  backend/src/main/java/backend/domain/order/entity/OrderState.java
  backend/src/main/java/backend/domain/order/entity/StatusState.java
  backend/src/main/java/backend/domain/order/service/OrderService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/resources/static/db/data.sql
  backend/src/test/java/backend/domain/order/controller/OrderControllerTest.java
  backend/src/test/resources/static.db/data.sql
Labels: Back, 기능추가

#29 [Be] Member 기본 코드 작성
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/mapper/MemberMapper.java
  backend/src/main/java/backend/domain/member/repository/MemberRepository.java
  backend/src/main/java/backend/domain/member/service/MemberDetailsService.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
Labels: Back, 기능추가

#30 [BE] Zone 기본 API 구현
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/order/service/OrderService.java
  backend/src/main/java/backend/domain/test.java
  backend/src/main/java/backend/domain/zone/controller/ZoneController.java
  backend/src/main/java/backend/domain/zone/dto/ZonePatchReqDto.java
  backend/src/main/java/backend/domain/zone/dto/ZonePostReqDto.java
  backend/src/main/java/backend/domain/zone/dto/ZoneResDto.java
  backend/src/main/java/backend/domain/zone/entity/Zone.java
  backend/src/main/java/backend/domain/zone/entity/ZoneLocation.java
  backend/src/main/java/backend/domain/zone/repository/ZoneRepository.java
  backend/src/main/java/backend/domain/zone/service/ZoneService.java
  backend/src/main/java/backend/global/exception/advice/ExceptionAdvice.java
  backend/src/main/java/backend/global/exception/dto/BusinessLogicException.java
Labels: Back, 기능추가

#49 [BE] Battery type 삭제, capacity(용량) 추가
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/entity/Battery.java
  backend/src/main/java/backend/domain/battery/repository/BatteryRepository.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 수정

#43 [BE] Member API 수정
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/repository/MemberRepository.java
  backend/src/main/java/backend/domain/member/service/MemberDetailsService.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/order/controller/OrderController.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/PayPatchReqDto.java
  backend/src/main/java/backend/domain/payment/dto/PayResDto.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/zone/controller/ZoneController.java
  backend/src/main/java/backend/domain/zone/entity/Zone.java
  backend/src/main/java/backend/domain/zone/service/ZoneService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
Labels: Back, 수정

#69 [FE] 예약 설정 BottomSheet 세부 로직 추가 구현
  frontend/src/assets/index.js
  frontend/src/assets/undo-button.png
  frontend/src/components/@commons/Buttons/Buttons.style.js
  frontend/src/components/@commons/Buttons/ShadowButton.jsx
  frontend/src/components/@commons/Loading/BatteryCharging.jsx
  frontend/src/components/@commons/Loading/BatteryCharging.style.js
  frontend/src/components/@commons/index.js
  frontend/src/components/Home/Reservation/BookingTypeBox/BookingTypeBox.jsx
  frontend/src/components/Home/Reservation/BookingTypeBox/BookingTypeBox.style.js
  frontend/src/components/Home/Reservation/Calendar/Calendar.jsx
  frontend/src/components/Home/Reservation/Calendar/Calendar.style.js
  frontend/src/components/Home/Reservation/Calendar/DateStatus.jsx
  frontend/src/components/Home/Reservation/DateSelection/SingleDateSelection.jsx
  frontend/src/components/Home/Reservation/Reservation.jsx
  frontend/src/components/Home/Reservation/Reservation.style.js
  frontend/src/components/Home/Reservation/TimeTable/TimeTable.jsx
  frontend/src/components/Home/Reservation/hooks/index.js
  frontend/src/components/Home/Reservation/hooks/useCalendar.jsx
  frontend/src/components/Home/Reservation/hooks/useReservation.jsx
  frontend/src/components/Home/Reservation/hooks/useSingleDateReservation.jsx
  frontend/src/components/Home/Reservation/hooks/useUndoReservation.jsx
  frontend/src/hooks/maps/useCurrentAddress.jsx
  frontend/src/hooks/maps/useCurrentLocation.jsx
  frontend/src/hooks/maps/useGetAllZones.jsx
  frontend/src/hooks/maps/useKakaoMap.jsx
  frontend/src/hooks/maps/useSearchMap.jsx
  frontend/src/hooks/maps/useWatchLocation.jsx
  frontend/src/hooks/reservation/useCalendar.jsx
  frontend/src/hooks/reservation/useCounter.jsx
  frontend/src/hooks/reservation/useSetReservation.jsx
  frontend/src/recoil/pagesState.js
Labels: Front, 기능추가

#74 [FE] 카카오 Oauth 로그인 세션 연결 해제
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/apis/auth.js
  frontend/src/components/Login/LoginForm.jsx
  frontend/src/constants/auth.js
  frontend/src/constants/routes.js
  frontend/src/hooks/Login/useKakaoLogin.jsx
  frontend/src/hooks/Login/useKakaoLogout.jsx
  frontend/src/index.css
  frontend/src/mocks/handlers.js
  frontend/src/pages/Login/index.jsx
  frontend/src/pages/Logout/index.jsx
  frontend/src/pages/LogoutSession/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/recoil/login.js
Labels: Front, 기능추가, 버그

#70 [BE] Cart 테이블의 연관관계 제거, Payment 테이블 연관관계 적용, postPayment API 수정
  backend/src/main/java/backend/domain/battery/entity/Battery.java
  backend/src/main/java/backend/domain/cart/entity/Cart.java
  backend/src/main/java/backend/domain/cart/repository/CartRepository.java
  backend/src/main/java/backend/domain/cart/service/CartService.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/PayPatchReqDto.java
  backend/src/main/java/backend/domain/payment/dto/PayPostReqDto.java
  backend/src/main/java/backend/domain/payment/dto/PayResDto.java
  backend/src/main/java/backend/domain/payment/entity/Payment.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/zone/entity/Zone.java
Labels: Back, 기능추가, 수정

#82 [BE] API 매핑, Zone->Station 리팩토링, data.sql 수정
  backend/src/main/java/backend/domain/battery/entity/StationBattery.java
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
  backend/src/main/java/backend/domain/member/dto/MemberResDto.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/entity/MemberPayment.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/PayPatchReqDto.java
  backend/src/main/java/backend/domain/payment/dto/PayPostReqDto.java
  backend/src/main/java/backend/domain/payment/dto/PayResDto.java
  backend/src/main/java/backend/domain/payment/entity/Payment.java
  backend/src/main/java/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationPatchReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationPostReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationResDto.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/java/backend/domain/station/entity/StationLocation.java
  backend/src/main/java/backend/domain/station/repository/StationRepository.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/domain/zone/controller/ZoneController.java
  backend/src/main/java/backend/domain/zone/dto/ZonePatchReqDto.java
  backend/src/main/java/backend/domain/zone/dto/ZoneResDto.java
  backend/src/main/java/backend/domain/zone/repository/ZoneRepository.java
  backend/src/main/java/backend/domain/zone/service/ZoneService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/resources/static/db/data.sql
  backend/src/test/java/backend/domain/cart/controller/CartControllerTest.java
  backend/src/test/resources/static.db/data.sql
Labels: Back, 기능추가, 수정, 에러핸들링

#77 [FE] login 상태에 따른 페이지 라우팅 레이어 추가
  frontend/src/App.jsx
  frontend/src/apis/auth.js
  frontend/src/components/Login/LoginForm.jsx
  frontend/src/components/Login/PrivateRouter.jsx
  frontend/src/components/Login/PublicRouter.jsx
  frontend/src/constants/auth.js
  frontend/src/constants/routes.js
  frontend/src/hooks/Login/useKakaoCheckLogin.jsx
  frontend/src/hooks/Login/useKakaoLogin.jsx
  frontend/src/hooks/Login/useKakaoLogout.jsx
  frontend/src/mocks/handlers.js
  frontend/src/pages/Empty/index.jsx
  frontend/src/pages/Logout/index.jsx
  frontend/src/pages/LogoutSession/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/recoil/login.js
Labels: Front, 기능추가, 버그, 수정

#85 [BE] Reservation과 Battery 연관관계 매핑, Station과의 순환참조 방지
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/entity/Battery.java
  backend/src/main/java/backend/domain/battery/entity/Reservation.java
  backend/src/main/java/backend/domain/battery/repository/ReservationRepository.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 기능추가, 수정

#91 [FE] 불필요한 코드 제거 / env파일 상수 변경
  frontend/src/apis/auth.js
  frontend/src/components/Business/Battery/Battery.style.js
  frontend/src/components/Business/Battery/BatteryCard.jsx
  frontend/src/components/Business/Battery/BatteryDetails.jsx
  frontend/src/components/Business/Battery/BatteryList.jsx
  frontend/src/components/Business/Battery/BatteryStatus.jsx
  frontend/src/components/Business/Battery/batteryData.js
  frontend/src/components/Business/Filter/Filter.jsx
  frontend/src/components/Business/Filter/Filter.style.js
  frontend/src/components/Entrance/Entrance.style.js
  frontend/src/components/Entrance/EntranceIcon.jsx
  frontend/src/components/Entrance/TitleAndLogo.jsx
  frontend/src/components/Login/Login.style.js
  frontend/src/components/Login/LoginForm.jsx
  frontend/src/components/Login/PrivateRouter.jsx
  frontend/src/components/Login/PublicRouter.jsx
  frontend/src/constants/auth.js
  frontend/src/constants/routes.js
  frontend/src/hooks/Login/useKakaoCheckLogin.jsx
  frontend/src/hooks/Login/useKakaoLogin.jsx
  frontend/src/hooks/Login/useKakaoLogout.jsx
  frontend/src/mocks/handlers.js
  frontend/src/pages/Business/index.jsx
  frontend/src/pages/Empty/index.jsx
  frontend/src/pages/Entrance/index.jsx
  frontend/src/pages/Logout/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/recoil/login.js
Labels: Front, 리팩토링, 수정

#92 [FE] 불필요한 코드 제거, 로그인 Error 수정
  frontend/src/apis/auth.js
  frontend/src/components/Login/KaKaoLogin.jsx
  frontend/src/components/Login/KakaoLogout.jsx
  frontend/src/components/Login/LoginForm.jsx
  frontend/src/components/Login/PrivateRouter.jsx
  frontend/src/components/Login/PublicRouter.jsx
  frontend/src/constants/routes.js
  frontend/src/hooks/Login/useKakaoCheckLogin.jsx
  frontend/src/hooks/Login/useKakaoLogin.jsx
  frontend/src/hooks/Login/useKakaoLogout.jsx
  frontend/src/pages/Business/index.jsx
  frontend/src/pages/Logout/index.jsx
  frontend/src/pages/index.jsx
Labels: Front, 버그, 수정

#90 [BE] Station, Payment 유효성 검증, ExceptionCode 정리, 임시 Cors 컨트롤 webConfig, + 단일 마커 조회용 API 추가
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/PayPostReqDto.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationBatteryReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationPatchReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationPostReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationResDto.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/java/backend/domain/station/entity/StationLocation.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/resources/static/db/data.sql
  backend/src/test/resources/static.db/data.sql
Labels: Back, 수정

#95 [BE] Admin과 Station 연관관계 매핑, Mock 데이터 수정, BatteryName 칼럼 추가
  backend/src/main/java/backend/domain/admin/controller/AdminController.java
  backend/src/main/java/backend/domain/admin/dto/AdminDto.java
  backend/src/main/java/backend/domain/admin/entity/Admin.java
  backend/src/main/java/backend/domain/admin/service/AdminService.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/entity/Battery.java
  backend/src/main/java/backend/domain/battery/entity/StationBattery.java
  backend/src/main/java/backend/domain/station/dto/StationResDto.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 기능추가, 수정

#100 [BE] Security 수정 (JWT 로그인 가능), GET Station 반환 값 수정,
  backend/src/main/java/backend/domain/battery/entity/StationBattery.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/service/MemberDetailsService.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/PayBillsResDto.java
  backend/src/main/java/backend/domain/payment/dto/PayResDto.java
  backend/src/main/java/backend/domain/payment/entity/Payment.java
  backend/src/main/java/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationResDto.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/java/backend/global/exception/advice/ErrorResponder.java
  backend/src/main/java/backend/global/security/config/CustomFilterConfig.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/java/backend/global/security/filter/FilterChainExceptionHandlerFilter.java
  backend/src/main/java/backend/global/security/filter/FilterExceptionResolver.java
  backend/src/main/java/backend/global/security/filter/JwtAuthenticationFilter.java
  backend/src/main/java/backend/global/security/filter/JwtVerificationFilter.java
  backend/src/main/java/backend/global/security/handler/CustomAccessDeniedHandler.java
  backend/src/main/java/backend/global/security/handler/CustomAuthenticationEntryPoint.java
  backend/src/main/java/backend/global/security/handler/CustomAuthenticationFailureHandler.java
  backend/src/main/java/backend/global/security/handler/CustomAuthenticationSuccesshandler.java
  backend/src/main/java/backend/global/security/jwt/JwtTokenizer.java
  backend/src/main/java/backend/global/security/userDetails/MemberDetailsService.java
  backend/src/main/java/backend/global/security/utils/CustomAuthorityUtil.java
  backend/src/main/java/backend/global/security/utils/CustomAuthorityUtils.java
  backend/src/main/resources/application.yml
Labels: Back, 리팩토링, 버그, 수정, 에러핸들링

#101 [FE] SnackBar 1차 구현중 및 404페이지 배터리 보유 현황 페이지 업데이트
  frontend/src/components/@commons/CardModal/Cards.jsx
  frontend/src/components/@commons/Loading/BatteryCharging.jsx
  frontend/src/components/@commons/Loading/BatteryCharging.style.js
  frontend/src/components/@commons/PageWrapper/PageWrapper.jsx
  frontend/src/components/@commons/SnackBar/SnackBar.jsx
  frontend/src/components/@commons/SnackBar/SnackBar.style.js
  frontend/src/components/@helper/router/PrivateRouter.jsx
  frontend/src/components/@helper/router/PublicRouter.jsx
  frontend/src/components/@layout/BottomNav/BottomNav.style.js
  frontend/src/components/Business/Battery/BatteryStatus.jsx
  frontend/src/components/Rental/Features/BatteryInfo.jsx
  frontend/src/components/Rental/RentalStatus.jsx
  frontend/src/components/Search/SearchPage.jsx
  frontend/src/constants/routes.js
  frontend/src/hooks/BottomSheet/useBottomSheet.jsx
  frontend/src/hooks/Login/useKakaoLogin.jsx
  frontend/src/hooks/commons/useSnackBar.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/map/useCardModal.jsx
  frontend/src/hooks/map/useSearchMap.jsx
  frontend/src/hooks/reservation/useCheckDateFixed.jsx
  frontend/src/hooks/reservation/useCheckValidReserveTable.jsx
  frontend/src/hooks/stations/useGetAllStations.jsx
  frontend/src/hooks/stations/useGetStationById.jsx
  frontend/src/main.jsx
  frontend/src/mocks/handlers.js
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/NotFound/index.jsx
  frontend/src/pages/Rental/index.jsx
  frontend/src/pages/index.jsx
Labels: Front, 기능추가

#102 [BE] Reservation과 Payment 연관관계 매핑
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/entity/Reservation.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/payment/entity/Payment.java
  backend/src/main/java/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 기능추가, 수정

#106 [BE] 로그인 한 Member의 JWT로부터 claims 정보 추출 유틸 구현
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/global/security/filter/JwtAuthenticationFilter.java
  backend/src/main/java/backend/global/security/utils/JwtExtractUtils.java
Labels: Back, 기능추가

#107 [FE] Payments 구현 및 Signature Color 생성
  frontend/src/apis/order.js
  frontend/src/components/@commons/CardModal/Cards.jsx
  frontend/src/components/@commons/PageWrapper/PageWrapper.jsx
  frontend/src/components/Business/Battery/BatteryList.jsx
  frontend/src/components/Payments/Product/PayDetail.jsx
  frontend/src/components/Payments/Product/PayDetail.style.js
  frontend/src/components/Payments/Product/ProductDetail.jsx
  frontend/src/components/Payments/Product/ProductDetail.style.js
  frontend/src/components/Payments/SelectionHistory.jsx
  frontend/src/components/Payments/SelectionHistory.style.js
  frontend/src/components/Rental/Features/BatteryInfo.jsx
  frontend/src/mocks/data/stations.js
  frontend/src/mocks/handlers.js
  frontend/src/pages/Payments/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/styles/color.js
  frontend/src/styles/theme.js
Labels: Front, 기능추가, 수정

#112 [BE] SearchStation API 구현, data.sql 편집, Station 필드 추가, Payment API 비즈니스 로직 수정
  backend/src/main/java/backend/domain/admin/entity/Admin.java
  backend/src/main/java/backend/domain/admin/service/AdminService.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationPatchReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationPostReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationResDto.java
  backend/src/main/java/backend/domain/station/dto/StationSearchReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationSearchResDto.java
  backend/src/main/java/backend/domain/station/entity/Station.java
  backend/src/main/java/backend/domain/station/entity/StationSearch.java
  backend/src/main/java/backend/domain/station/repository/StationRepository.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/java/backend/global/security/config/CustomFilterConfig.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/java/backend/global/security/utils/CustomAuthorityUtils.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/static/db/data.sql
  backend/src/test/resources/static.db/data.sql
Labels: Back, 기능추가, 문서화, 수정

#109 [FE] SnackBar 1차 구현 및 예약시간 설정 세부 로직 추가
  frontend/src/components/@commons/CardModal/Cards.jsx
  frontend/src/components/@commons/SnackBar/SnackBar.jsx
  frontend/src/components/@commons/SnackBar/SnackBar.style.js
  frontend/src/components/@commons/index.js
  frontend/src/components/@helper/index.js
  frontend/src/components/@helper/router/DateFixedRouter.jsx
  frontend/src/components/@layout/BottomSheet/BottomSheet.jsx
  frontend/src/components/Home/KakaoMap/Features/MapIndicator.jsx
  frontend/src/components/Home/Reservation/Calendar/DateStatus.jsx
  frontend/src/components/Home/Reservation/Calendar/HorizontalDatePicker.jsx
  frontend/src/components/Home/Reservation/Counter/Counter.jsx
  frontend/src/components/Rental/Features/Features.style.js
  frontend/src/components/Rental/Features/index.js
  frontend/src/components/Rental/RentalStatus.jsx
  frontend/src/components/Search/SearchPage.jsx
  frontend/src/constants/common.js
  frontend/src/constants/index.js
  frontend/src/hooks/BottomSheet/useBottomSheet.jsx
  frontend/src/hooks/commons/useSnackBar.jsx
  frontend/src/hooks/commons/useSplashScreen.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/reservation/useCalendar.jsx
  frontend/src/hooks/reservation/useCheckDateFixed.jsx
  frontend/src/hooks/reservation/useReservation.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/NotFound/NotFound.style.js
  frontend/src/pages/NotFound/index.jsx
  frontend/src/pages/Rental/index.jsx
  frontend/src/pages/index.jsx
  frontend/src/recoil/pagesState.js
  frontend/src/styles/color.js
Labels: Front, 기능추가

#113 [BE] Post Payment API 문제 수정, Member API 응답 수정, 더미데이터 수정, Payment Repository 오류 수정, Search Station API 리팩토링, Admin 로그인 구현
  backend/src/main/docs/index.adoc
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
  backend/src/main/java/backend/domain/member/dto/MemberResDto.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/entity/MemberPayment.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/payment/dto/PayPostReqDto.java
  backend/src/main/java/backend/domain/payment/repository/PaymentRepository.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/java/backend/global/security/jwt/JwtTokenizer.java
  backend/src/main/java/backend/global/security/userDetails/MemberDetailsService.java
  backend/src/main/java/backend/global/security/utils/CustomAuthorityUtils.java
  backend/src/main/resources/static/db/data.sql
  backend/src/test/java/backend/domain/memberTest/MemberTest.java
  backend/src/test/java/backend/domain/paymentTest/PaymentTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/static.db/data.sql
Labels: Back, 리팩토링, 문서화, 수정, 에러핸들링

#122 [BE] Battery POST 필드 추가, getPayment 시 payStatus 새로고침 기능
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/PayBillsResDto.java
  backend/src/main/java/backend/domain/payment/entity/PayStatus.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 기능추가, 수정

#123 [BE] Member API 인증로직 및 URL수정, Station API 로직 수정, data.sql 더미데이터 추가, Cors이슈 수정, JwtExtractUtils 수정
  backend/src/main/java/backend/domain/member/controller/MemberController.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationBatteryReqDto.java
  backend/src/main/java/backend/domain/station/dto/StationSearchReqDto.java
  backend/src/main/java/backend/domain/station/entity/StationSearch.java
  backend/src/main/java/backend/domain/station/repository/StationRepository.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/java/backend/global/config/webConfig.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/java/backend/global/security/config/SecurityConfiguration.java
  backend/src/main/java/backend/global/security/utils/JwtExtractUtils.java
  backend/src/main/resources/static/db/data.sql
  backend/src/test/resources/static.db/data.sql
Labels: Back, 기능추가, 수정, 에러핸들링

#125 [BE] kakaoPay API 구현
  backend/src/main/java/backend/domain/kakaoPay/AmountVO.java
  backend/src/main/java/backend/domain/kakaoPay/CardVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayApprovalVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayController.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayReadyVO.java
  backend/src/main/java/backend/domain/kakaoPay/KakaoPayService.java
Labels: Back, 기능추가

#129 [BE] Battery CRUD, Admin CRUD, Station CRUD 검증로직 추가
  backend/src/main/java/backend/domain/admin/controller/AdminController.java
  backend/src/main/java/backend/domain/admin/service/AdminService.java
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/member/dto/MemberDto.java
  backend/src/main/java/backend/domain/member/dto/MemberResDto.java
  backend/src/main/java/backend/domain/member/entity/Member.java
  backend/src/main/java/backend/domain/member/service/MemberService.java
  backend/src/main/java/backend/domain/station/controller/StationController.java
  backend/src/main/java/backend/domain/station/dto/StationPatchReqDto.java
  backend/src/main/java/backend/domain/station/entity/StationSearch.java
  backend/src/main/java/backend/domain/station/repository/StationRepository.java
  backend/src/main/java/backend/domain/station/service/StationService.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 리팩토링, 수정, 에러핸들링

#130 [BE] PatchBattery 수정, 반납 연장하기 구현
  backend/src/main/java/backend/domain/battery/controller/BatteryController.java
  backend/src/main/java/backend/domain/battery/dto/BatteryDto.java
  backend/src/main/java/backend/domain/battery/entity/Battery.java
  backend/src/main/java/backend/domain/battery/repository/ReservationRepository.java
  backend/src/main/java/backend/domain/battery/service/BatteryService.java
  backend/src/main/java/backend/domain/payment/controller/PaymentController.java
  backend/src/main/java/backend/domain/payment/dto/ExtendTimeDto.java
  backend/src/main/java/backend/domain/payment/dto/NearReservationDto.java
  backend/src/main/java/backend/domain/payment/service/PaymentService.java
  backend/src/main/java/backend/global/exception/exceptionCode/ExceptionCode.java
  backend/src/main/resources/static/db/data.sql
Labels: Back, 기능추가, 수정
